// Place all the styles related to the displays controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.create-display-form input {
  width: 100%;
}
