connexion[swagger-ui] == 2.7.0
python_dateutil >= 2.6.0
setuptools >= 21.0.0
mongoengine >= 0.18.0
pymongo >= 3.8.0
pyjwt == 1.7.1
bcrypt >= 3.1.5
pycryptodome >= 3.9.0
Werkzeug == 0.16.1
celery[redis] == 4.4.3
beautifulsoup4 >= 4.8.2
lxml >= 4.5.0
