<!-- A simple footer that has some copyright stuff -->

<footer class="footer main_content">
  <div class="row">
    <br />
    <small>
      <a href="https://www.securecoding.cert.org/">SCALe</a>
    </small>
  </div>
  <br />
</footer>
