<%= form_with(model: classifier_scheme, local: true) do |form| %>
  <% if classifier_scheme.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(classifier_scheme.errors.count, "error") %> prohibited this classifier_scheme from being saved:</h2>

      <ul>
      <% classifier_scheme.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
