<!-- A simple footer that has some copyright stuff -->
<footer class="footer">
  <small>
    <a href="https://www.securecoding.cert.org/">SCALe</a>
    Copyright (c) 2007-2018 Carnegie Mellon University. All Rights Reserved. See COPYRIGHT file for details.
  </small>
</footer>
