<!-- A simple header shim with links to useful things -->
<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <nav>
        <ul class="nav pull-right">
          <!--
          <% #if request.port != 443 %>
          <li><a href="https://scale.cert.org">This is a development server. Please go to https://scale.cert.org to do production analysis</a></li>
          -->
          <% #end %>
          <li><%= link_to "SCALe Analysis Tool", '/', id: "logo" %></li>
          <li><%= link_to "Help", "/doc/index.html" %></li>
          <li><img src="/doc/lightbulb_on.png">
             <a href="http://www.cert.org/secure-coding/scale/" fgColor=00ff00>SCALe at CERT</a></li>
          <li class="last"><%= link_to "Copyright (c) 2007-2018 Carnegie Mellon University", "/doc/copyright.html" %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
